@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px; 
}

*{
    box-sizing: border-box;
}


html,body{
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar{
    display: none;
}


/* Music Bar Animation */
@keyframes soundWave {
  0%, 100% { height: 3px; }
  50% { height: 12px; }
}


.music-bar {
  width: 2px;
  background-color: white; /* Bar color */
  border-radius: 99px;
  animation: soundWave 1s ease-in-out infinite;
}

/* Pause state: Bars stop moving and shrink */
.bar-paused {
  animation-play-state: paused;
  height: 4px !important;
  transition: height 0.3s ease;
}

/* Animation Delays for Wave Effect */
.music-bar:nth-child(1) { animation-duration: 0.8s; }
.music-bar:nth-child(2) { animation-duration: 1.1s; }
.music-bar:nth-child(3) { animation-duration: 1.3s; }
.music-bar:nth-child(4) { animation-duration: 1.0s; }



@font-face {
  font-family: "Futura_Bold";
  src: url("/font/FuturaStd-Bold.otf");
}

@font-face {
  font-family: "Futura_Light";
  src: url("/font/FuturaStd-Light.otf");
}

@font-face {
  font-family: "Futura_Medium";
  src: url("/font/FuturaStd-Medium.otf");
}

@font-face {
  font-family: "Futura_ExtraBold";
  src: url("/font/FuturaStd-ExtraBold.otf");
}

@font-face {
  font-family: "Futura_SemiBold";
  src: url("/font/FuturaStd-Heavy.otf");
}


.fut-bold{
  font-family: "Futura_Bold" ;
}

.fut-extrabold{
  font-family: "Futura_ExtraBold" ;
}

.fut-semibold{
  font-family: "Futura_SemiBold" ;
}

.fut-medium{
  font-family: "Futura_Medium" ;
}

.fut-light{
  font-family: "Futura_Light" ;
}